body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

table {
      text-align: left
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
